

<style>

body {
	padding: 10px;
	background: #eee;
}
fieldset {
	width: 320px;
	margin: 10px;
	border-radius: 5px;
}
.container {
	width: 980px;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
}
img {
	max-width: 500px;
	max-height: 500px
}
input {
	width: 300px;
}
</style>
<body>
	<div class="container">
		
		<h1>Add a New Photo Url</h1>
		<fieldset>
			<legend>Video Url</legend>
			<form action="pictures" method="post">

				<input type="text" name="url">

			</form>
		</fieldset>
		<p>
			<%= link_to "Back to Homepage", "/pictures" %>
		</p>
				
	</div>
</body>
